################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SuperFunHappySlide/.vs/SuperFunHappySlide/FileContentIndex
/SuperFunHappySlide/SuperFunHappySlide/obj
/SuperFunHappySlide/.vs/SuperFunHappySlide
/SuperFunHappySlide/SuperFunHappySlide/bin/Debug/net6.0
/SuperFunHappySlide/SuperBoringSlideTest/bin/Debug/net6.0
/SuperFunHappySlide/SuperBoringSlideTest/obj
/SuperFunHappySlide/SuperFunHappySlide.sln.DotSettings.user
SuperFunHappySlide/.vs/ProjectEvaluation/superfunhappyslide.metadata.v5.1
SuperFunHappySlide/.vs/ProjectEvaluation/superfunhappyslide.projects.v5.1
